html{
  background-color: gold;
}
.sausage_name h3{
  font-size: 30px;
  color: purple;
  margin: 0px;
}

.sausage_description h6{
  font-size: 18px;
  color: black;
  margin: 5px;
}

.sausageRecipeList {
  flex-direction: row;
  margin: 20px;
  background-color: lightgray;
}

.sausageRecipeList img{
  opacity: 50%;
  max-height: 600px;
  border: 10px solid;
}
