html{
  background-color: gold;
}
.sausage_name h3{
  font-size: 30px;
  color: purple;
  margin: 0px;
}

.sausageRecipeList {
  flex-direction: row;
  margin: 0px;
  background-color: lightgray;
  align-items: center;
}

.sausageRecipeImage {
  max-height: 600px;
  max-width: 600;
}

#sausageButton{
  background-color: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: purple;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.sausageRecipeDetail{
  color: purple;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.sausageRecipeDetail h2{
  font-size: 30px;
}
.sausageRecipeDetail h4{
  font-size: 24px;
}
